  services.nginx.enable = true;
  services.nginx.config = ''
    events {}

    http {
      include ${pkgs.nginx}/conf/mime.types;
      include ${pkgs.nginx}/conf/fastcgi.conf;

      server {
        listen 443 ssl;

        server_name exam.pl;
        ssl_certificate /etc/letsencrypt/live/exam.pl/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/exam.pl/privkey.pem;

        location / {
          client_max_body_size 512M;
          proxy_pass http://127.0.0.1:8080;
        }
      }
    }
  '';
